<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZxcWorkLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="jirasoapservice-v2SoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.prognett.no/rpc/soap/jirasoapservice-v2" binding="basicHttpBinding" bindingConfiguration="jirasoapservice-v2SoapBinding" contract="JiraSoapService" name="jirasoapservice-v2"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <ZxcWorkLog.Properties.Settings>
      <setting name="LastUsedVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>.\worklog.xml</value>
      </setting>
      <setting name="HoursPerDay" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="JiraUser" serializeAs="String">
        <value />
      </setting>
      <setting name="JiraPass" serializeAs="String">
        <value />
      </setting>
      <setting name="JiraJQL" serializeAs="String">
        <value>assignee=currentUser()</value>
      </setting>
      <setting name="ScreenShotsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenShotsTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ScreenShotsDir" serializeAs="String">
        <value>.\Screen shots\</value>
      </setting>
      <setting name="JiraUrl" serializeAs="String">
        <value />
      </setting>
    </ZxcWorkLog.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
